In [4]:
import numpy as np
import pandas as pd
import random

In [112]:
government_office_region_name = ['Channel Islands', 'East Midlands', 'East of England', 'Isle of Man', 'London',
                               'MISSING','No Government Office Region Code Supplied','North East','North West',
                               'Northern Ireland','Scotland','South East','South West','Wales','West Midlands',
                               'Yorkshire and The Humber']

government_office_region_percentage = [0, 6.29, 7.74, 0, 15.44, 6.58, 0, 4.18, 11.52, 2.28, 7.43, 
                                       10.59, 6.99, 4.22, 8.83, 7.92]

age_percentage = [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.02,0.13,0.62,1.47,2.05,2.36,2.6,2.82,2.88,2.84,2.78,2.8,2.83,2.91,
                  2.92,2.99,2.89,2.86,2.75,2.62,2.55,2.42,2.3,2.23,2.14,2.14,1.98,1.8,1.66,1.63,1.6,1.59,1.55,
                  1.57,1.58,1.56,1.5,1.48,1.42,1.36,1.31,1.27,1.19,1.14,1.06,1.03,0.92,0.88,0.82,0.75,0.66,0.47,
                  0.15,0.08,0.06,0.05,0.04,0.03,0.03,0.02,0.01,0.01,0.01,0.01,0.01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
                  0,0,0,0,0,5.8]

age_list = list(range(1,101))

ethnicity_name = ['Arab', 'Asian', 'Black', 'MISSING', 'Mixed', 'Other', 'Prefer not to say', 'White']

ethnicity_percentage = [0.42, 3.95, 2.59, 46.37, 1.46, 1.35, 2.1, 41.76]

ethnicity_subgroup_name = ['AFRICAN', 'ASIAN_OTHER', 'ASIAN_PREFER_NOT_TO_SAY', 'BANGLADESHI', 'BLACK_OTHER', 
                           'BLACK_PREFER_NOT_TO_SAY', 'BRITISH', 'CARIBBEAN', 'CHINESE', 'GYPSY', 'INDIAN',
                           'IRISH', 'MISSING', 'MIXED_OTHER', 'MIXED_PREFER_NOT_TO_SAY', 'PAKISTANI', 
                           'WHITE_AND_ASIAN', 'WHITE_AND_BLACK_AFRICAN', 'WHITE_AND_BLACK_CARIBBEAN',
                           'WHITE_OTHER', 'WHITE_PREFER_NOT_TO_SAY']

ethnicity_subgroup_percentage = [1.66, 0.64, 0.08, 0.7, 0.06, 0.05, 35.63, 0.81, 0.1, 0.12, 1, 0.24, 50.24, 0.33,
                                 0.12, 1.43, 0.23, 0.19, 0.58, 4.95, 0.82]

sexual_orientation_name = ['BISEXUAL', 'GAY_OR_LESBIAN', 'HETEROSEXUAL', 'MISSING', 'OTHER' 'PREFER_NOT_TO_SAY']

sexual_orientation_percentage = [1.13, 1.09, 46.72, 46.37, 0.41, 4.28]

religion_name=['BUDDHIST', 'CHRISTIAN', 'HINDU', 'JEWISH', 'MISSING', 'MUSLIM', 'NONE', 'OTHER', 
               'PREFER_NOT_TO_SAY', 'SIKH']

religion_percentage = [0.28, 16.9, 0.48, 0.1, 46.37, 4.15, 26.37, 1.41, 3.6, 0.35]

marital_status_name = ['MARRIED_OR_IN_PARTNERSHIP', 'MISSING', 'NOT_MARRIED_OR_IN_PARTNERSHIP',
                       'PREFER_NOT_TO_SAY']

marital_status_percentage= [15.9, 46.37, 34.17, 3.56]

gender_name = ['F','M', 'MISSING']

gender_percentage= [0.83, 0.62, 98.55]

SE_name = ['0', '1']

SE_percentage = [87.24, 12.76]

children_name = ['MISSING', '0', '1', '2', '3', '4', '5', '6', '7']

children_percentage = [15.71, 51.98, 15.17, 13.06, 3.01, 0.82, 0.2, 0.05, 0.01]

couple_contract_name = ['f', 't']

couple_contract_percentage = [66.14, 33.86]

In [113]:
synth_population_factor = 1000

In [114]:
#
# decided to keep age categorical for now.
#

first = True
for idx, age in enumerate(age_list):
    num_elements = round((age_percentage[idx] * synth_population_factor))
    if idx == 99:
        temp = np.full((1, num_elements), np.nan)
    else:
        temp = np.full((1, num_elements), age)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
age_df = pd.DataFrame(array)

In [115]:
first = True
for idx, region in enumerate(government_office_region_name):
    num_elements = round((government_office_region_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), region)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
region_df = pd.DataFrame(array)

#
# need to add more here for the other categorical data needed
#

In [116]:
first = True
for idx, ethnicity in enumerate(ethnicity_name):
    num_elements = round((ethnicity_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), ethnicity)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
ethnicity_df = pd.DataFrame(array)

In [117]:
first = True
for idx, ethnicity_subgroup in enumerate(ethnicity_subgroup_name):
    num_elements = round((ethnicity_subgroup_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), ethnicity_subgroup)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
ethnicity_subgroup_df = pd.DataFrame(array)

In [145]:
first = True
for idx, sexual_orientation in enumerate(sexual_orientation_name):
    num_elements = round((sexual_orientation_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), sexual_orientation)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
sexual_orientation_df = pd.DataFrame(array)

In [146]:
first = True
for idx, religion in enumerate(religion_name):
    num_elements = round((religion_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), religion)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
religion_df = pd.DataFrame(array)

In [147]:
first = True
for idx, marital_status in enumerate(marital_status_name):
    num_elements = round((marital_status_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), marital_status)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
marital_status_df = pd.DataFrame(array)

In [148]:
first = True
for idx, gender in enumerate(gender_name):
    num_elements = round((gender_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), gender)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
gender_df = pd.DataFrame(array)

In [149]:
first = True
for idx, SE in enumerate(SE_name):
    num_elements = round((SE_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), SE)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
SE_df = pd.DataFrame(array)

In [150]:
first = True
for idx, children in enumerate(children_name):
    num_elements = round((children_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), children)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
children_df = pd.DataFrame(array)

In [151]:
first = True
for idx, couple_contract in enumerate(couple_contract_name):
    num_elements = round((couple_contract_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), couple_contract)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
couple_contract_df = pd.DataFrame(array)

In [152]:
index = list(range(0, 100000))
random.shuffle(index)

In [153]:
target_df = pd.DataFrame(index, columns=['pk'])

In [154]:
target_df = pd.concat([target_df, region_df, age_df, ethnicity_df, ethnicity_subgroup_df, 
                      sexual_orientation_df, religion_df, marital_status_df, gender_df,
                      SE_df, children_df, couple_contract_df], axis=1)

In [155]:
target_df = target_df.sort_values(by=['pk'], ignore_index=True)

In [156]:
target_df

,pk,0,0,0,0,0,0,0,0,0,0,0
0,0,London,27.0,MISSING,BRITISH,HETEROSEXUAL,MISSING,MISSING,MISSING,0,0,f
1,1,East Midlands,21.0,Black,BRITISH,HETEROSEXUAL,CHRISTIAN,MARRIED_OR_IN_PARTNERSHIP,MISSING,0,MISSING,f
2,2,London,27.0,MISSING,BRITISH,HETEROSEXUAL,MISSING,MISSING,MISSING,0,0,f
3,3,North East,32.0,MISSING,BRITISH,HETEROSEXUAL,MISSING,MISSING,MISSING,0,0,f
4,4,South West,53.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,0,1,t
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,MISSING,30.0,MISSING,BRITISH,HETEROSEXUAL,MISSING,MISSING,MISSING,0,0,f
99996,99996,West Midlands,60.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,1,2,t
99997,99997,Wales,56.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,0,1,t
99998,99998,West Midlands,59.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,0,2,t
99999,99999,South West,51.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,0,1,t