In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
government_office_region_name = ['East Midlands', 'East of England', 'London', 'MISSING', 'North East'
                                 'North West', 'Northern Ireland', 'Scotland' ,'South East', 'South West', 
                                 'Wales', 'West Midlands', 'Yorkshire and The Humber']

government_office_region_percentage = [6.65, 8.62, 16.1, 5.59, 3.95, 10.98, 0.48, 6.68, 11.78, 7.57, 4.29,
                                       9.27, 8.05]

age_percentage = [0.01,0.05,0.14,0.63,0.98,1.22,1.48,1.85,2.12,2.33,2.66,2.92,3.13,3.39,3.58,3.63,3.75,
                  3.59,3.5,3.46,3.35,3.22,3.08,3.06,2.95,2.66,2.43,2.22,2.12,2.01,1.99,1.87,1.8,1.78,1.66,
                  1.62,1.49,1.35,1.28,1.16,1.11,0.98,0.92,0.82,0.76,0.67,0.64,0.58,0.51,0.41,0.26,0.03,0.01,
                  0.01,0.01,0.01,4.76]

age_list = list(range(17,72))

ethnicity_name = ['Arab', 'Asian', 'Black', 'MISSING', 'Mixed', 'Other', 'Prefer not to say', 'White']

ethnicity_percentage = [0.46, 4.09, 2.64, 43.53, 1.39, 1.4, 2.26, 44.23]

ethnicity_subgroup_name = ['AFRICAN', 'ASIAN_OTHER', 'ASIAN_PREFER_NOT_TO_SAY', 'BANGLADESHI', 'BLACK_OTHER', 
                           'BLACK_PREFER_NOT_TO_SAY', 'BRITISH', 'CARIBBEAN', 'CHINESE', 'GYPSY', 'INDIAN',
                           'IRISH', 'MISSING', 'MIXED_OTHER', 'MIXED_PREFER_NOT_TO_SAY', 'PAKISTANI', 
                           'WHITE_AND_ASIAN', 'WHITE_AND_BLACK_AFRICAN', 'WHITE_AND_BLACK_CARIBBEAN',
                           'WHITE_OTHER', 'WHITE_PREFER_NOT_TO_SAY']

ethnicity_subgroup_percentage = [1.73,0.71,0.09,0.75,0.06,0.05,37.35,0.79,0.09,0.12,0.85,0.23,47.66,0.33,
                                 0.12,1.6,0.21,0.17,0.56,5.59,0.94]

sexual_orientation_name = ['BISEXUAL', 'GAY_OR_LESBIAN', 'HETEROSEXUAL', 'MISSING', 'OTHER' 'PREFER_NOT_TO_SAY']

sexual_orientation_percentage = [0.81, 0.74, 50.04, 43.53, 0.39, 4.48]

religion_name=['BUDDHIST', 'CHRISTIAN', 'HINDU', 'JEWISH', 'MISSING', 'MUSLIM', 'NONE', 'OTHER', 
               'PREFER_NOT_TO_SAY', 'SIKH']

religion_percentage = [0.29, 17.94, 0.42, 0.1, 43.53, 4.69, 27.57, 1.47, 3.68, 0.32]

marital_status_name = ['MARRIED_OR_IN_PARTNERSHIP', 'MISSING', 'NOT_MARRIED_OR_IN_PARTNERSHIP',
                       'PREFER_NOT_TO_SAY']

marital_status_percentage= [19.94, 43.53, 32.38, 4.15]

gender_name = ['F','M', 'MISSING']

gender_percentage= [0.46, 0.34, 99.21]

SE_name = ['0', '1']

SE_percentage = [60.32, 39.68]

children_name = ['MISSING', '0', '1', '2', '3', '4', '5', '6', '7']

children_percentage = [3.5, 37.6, 26.66, 24.18, 5.88, 1.67, 0.38, 0.09, 0.03]

couple_contract_name = ['f', 't']

couple_contract_percentage = [59.53, 40.47]

sample_name = ['RP0453_RQ9','RP0453_RQ9_1','RP0580','SA0017_RQ2','SA0017_RQ3','SA0017_RQ5','SA0018','SA0026',
              'SA0026_RQ2','SA0043','SA0116','SA0117']

sample_percentage = [0.04, 0.04, 0.17, 30.28, 8.91, 5.94, 2.97, 9.51, 9.27, 2.97, 29.63, 0.27]

In [3]:
synth_population_factor = 1000

In [4]:
#
# decided to keep age categorical for now.
#

first = True
for idx, age in enumerate(age_list):
    num_elements = round((age_percentage[idx] * synth_population_factor))
    if idx == 99:
        temp = np.full((1, num_elements), np.nan)
    else:
        temp = np.full((1, num_elements), age)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
age_df = pd.DataFrame(array)

In [5]:
first = True
for idx, region in enumerate(government_office_region_name):
    num_elements = round((government_office_region_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), region)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
region_df = pd.DataFrame(array)

#
# need to add more here for the other categorical data needed
#

In [6]:
first = True
for idx, ethnicity in enumerate(ethnicity_name):
    num_elements = round((ethnicity_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), ethnicity)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
ethnicity_df = pd.DataFrame(array)

In [7]:
first = True
for idx, ethnicity_subgroup in enumerate(ethnicity_subgroup_name):
    num_elements = round((ethnicity_subgroup_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), ethnicity_subgroup)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
ethnicity_subgroup_df = pd.DataFrame(array)

In [8]:
first = True
for idx, sexual_orientation in enumerate(sexual_orientation_name):
    num_elements = round((sexual_orientation_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), sexual_orientation)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
sexual_orientation_df = pd.DataFrame(array)

In [9]:
first = True
for idx, religion in enumerate(religion_name):
    num_elements = round((religion_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), religion)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
religion_df = pd.DataFrame(array)

In [10]:
first = True
for idx, marital_status in enumerate(marital_status_name):
    num_elements = round((marital_status_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), marital_status)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
marital_status_df = pd.DataFrame(array)

In [11]:
first = True
for idx, gender in enumerate(gender_name):
    num_elements = round((gender_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), gender)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
gender_df = pd.DataFrame(array)

In [12]:
first = True
for idx, SE in enumerate(SE_name):
    num_elements = round((SE_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), SE)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
SE_df = pd.DataFrame(array)

In [13]:
first = True
for idx, children in enumerate(children_name):
    num_elements = round((children_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), children)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
children_df = pd.DataFrame(array)

In [14]:
first = True
for idx, couple_contract in enumerate(couple_contract_name):
    num_elements = round((couple_contract_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), couple_contract)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
couple_contract_df = pd.DataFrame(array)

In [15]:
first = True
for idx, sample in enumerate(sample_name):
    num_elements = round((sample_percentage[idx] * synth_population_factor))
    temp = np.full((1, num_elements), sample)
    if first == True:
        array = temp
        first = False
    else:
        array = np.append(array, temp)
        
array = array[0:synth_population_factor*100] #rouning errors remove unwanted elements.
sample_df = pd.DataFrame(array)

In [16]:
index = list(range(0, 100000))
random.shuffle(index)

In [17]:
target_df = pd.DataFrame(index, columns=['pk'])

In [18]:
target_df = pd.concat([target_df, region_df, age_df, ethnicity_df, ethnicity_subgroup_df, 
                      sexual_orientation_df, religion_df, marital_status_df, gender_df,
                      SE_df, children_df, couple_contract_df, sample_df], axis=1)

In [19]:
target_df = target_df.sort_values(by=['pk'], ignore_index=True)

In [20]:
target_df

,pk,0,0,0,0,0,0,0,0,0,0,0,0
0,0,London,29.0,MISSING,BRITISH,HETEROSEXUAL,CHRISTIAN,MARRIED_OR_IN_PARTNERSHIP,MISSING,0,0,f,SA0017_RQ2
1,1,East of England,26.0,MISSING,BRITISH,HETEROSEXUAL,CHRISTIAN,MARRIED_OR_IN_PARTNERSHIP,MISSING,0,0,f,SA0017_RQ2
2,2,East of England,26.0,MISSING,BRITISH,HETEROSEXUAL,CHRISTIAN,MARRIED_OR_IN_PARTNERSHIP,MISSING,0,0,f,SA0017_RQ2
3,3,South West,42.0,White,MISSING,MISSING,MISSING,MISSING,MISSING,1,1,t,SA0026_RQ2
4,4,East of England,25.0,Black,BRITISH,HETEROSEXUAL,CHRISTIAN,MARRIED_OR_IN_PARTNERSHIP,MISSING,0,0,f,SA0017_RQ2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,NaN,64.0,White,WHITE_OTHER,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,1,3,t,SA0116
99996,99996,East of England,27.0,MISSING,BRITISH,HETEROSEXUAL,CHRISTIAN,MARRIED_OR_IN_PARTNERSHIP,MISSING,0,0,f,SA0017_RQ2
99997,99997,South West,43.0,White,MISSING,MISSING,MUSLIM,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,1,1,t,SA0026_RQ2
99998,99998,Yorkshire and The Humber,54.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,1,2,t,SA0116
99999,99999,West Midlands,51.0,White,MISSING,MISSING,NONE,NOT_MARRIED_OR_IN_PARTNERSHIP,MISSING,1,2,t,SA0116